.main_functions {
    padding-top: 138px;
    font-family: "Inter", sans-serif;
}

.main_functions .title-3 {
    margin-bottom: 25px;
}

.main_functions__text {
    margin: 0 auto 96px;
    max-width: 800px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.main_functions__proof {
    margin-bottom: 177px;
    max-width: 1216px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.main_functions__proof_photo {
    position: relative;
    width: 100%;
    padding: 108px 0;
    display: flex;
    column-gap: 40px;

    border-radius: 12px;
    background: linear-gradient(120deg, #ffa7a7 2.2%, #a30cb5 29.17%, #00173a 95.31%);
}

.main_functions__proof_photo_info {
    padding: 64px 0 64px 64px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.main_functions__proof_svg {
    max-width: 64px;
    height: 64px;
    display: flex;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
}

.main_functions__proof_svg img {
    margin: auto;
    max-width: 32px;
    height: 32px;
    border-radius: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.main_functions__proof__title{
    
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
}

.main_functions__proof__text {
    max-width: 429px;
    color: rgba(255, 255, 255, 0.8);
}

.main_functions__proof_photo_info__btn {
    max-width: 170px;
    padding: 12px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.01em;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.main_functions__steps_verification {
    position: absolute;
    right: -85px;
    border: 1px solid rgba(143, 141, 145, 0.2);
    border-radius: 12px;
    backdrop-filter: blur(72px);
    box-shadow: inset 0 0px 0 1px rgba(255, 255, 255, 0.3), 0 4px 40px 8px rgba(0, 0, 0, 0.4), 0 0 0 0px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.6);
}

.main_functions__steps_verification__title {
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    letter-spacing: 0.01em;
}

.main_functions__steps_verification__row {
    display: flex;
    padding: 26px 10px 0 66px;
}

.main_functions__steps_verification__list {
    margin-bottom: 75px;
    max-width: 376px;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.main_functions__steps_verification__list .main_functions__steps_verification__items {
    list-style: auto;
}

.main_functions__steps_verification__items p {
    font-size: 13px;
    line-height: 123%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.6);
}

.main_functions__proof_location {
    max-width: 396px;
    position: relative;
}

.main_functions__proof_location .main_functions__proof__text {
    max-width: 310px;
}

.main_functions__proof_location__photo {
    position: absolute;
    right: -15px;
}

.main_functions__proof_location, .main_functions__proof_money {
    padding: 64px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
}

.main_functions__proof_location .main_functions__proof__title,.main_functions__proof_money .main_functions__proof__title {
    margin: 24px 0 16px;
}

.main_functions__proof_money {
    max-width: 532px;
}

.main_functions__proof_money__photo {
    text-align: center;
    margin-top: 33px;
}

@media(max-width: 1024px) {

    .main_functions__proof_photo_info {
        width: 310px;
    }
    
    .main_functions__steps_verification {
        width: 600px;
        right: 0px;
    }

    .main_functions__steps_verification__img {
        width: 300px;
        height: 310px;
    }
}


@media(max-width: 960px) {

    .main_functions {
        padding-top: 116px;
    }

    .main_functions .title-3 {
        margin-bottom: 35px;
    }
    
    .main_functions__text {
        display: none;
    }

    .main_functions__proof {
        max-width: 393px;
        padding-bottom: 132px;
        margin: 0 auto;
    }

    .main_functions__proof_photo {
        height: auto;
        padding: 0;
    }

    .main_functions__steps_verification {
        display: none;
    }

    .main_functions__proof_photo_info {
        padding: 39px 0 39px 26px;
        display: block;
    }

    .main_functions__proof_svg  {
        margin-bottom: 28px;
    }

    .main_functions__proof__title {
        margin-bottom: 20px;
    }

    .main_functions__steps_verification__items{
        margin-bottom: 15px;
    }

    .main_functions__proof__text {
        max-width: 329px;
    }

    .main_functions__proof_photo .main_functions__proof__text {
        max-width: 294px;
        margin-bottom: 31px;
    }

    .main_functions__proof_photo_info__btn {
        width: auto;
    }

    .main_functions__proof_location, .main_functions__proof_money {
        width: 360px;
        padding: 64px 25px 101px;
        margin: 0 auto;
    }

    .main_functions__proof_location__photo, .main_functions__proof_money__photo {
        display: none;
    }

}


@media(max-width: 375px) {
    
    .main_functions__proof {
        max-width: 320px;
        box-sizing: border-box;
        justify-content: center;
    }

    .main_functions__proof_photo, .main_functions__proof_money, .main_functions__proof_location {
        box-sizing: border-box;
        max-width: 300px;
    }

    .main_functions__proof_photo_info, .main_functions__proof_money, .main_functions__proof_location {
        padding: 20px;
    }

    .main_functions__proof_svg {
        max-width: 42px;
        height: 42px
    }

    .main_functions__proof_svg img {
        max-width: 22px;
        height: 22px;
    }
    
    .main_functions__proof_photo .main_functions__proof__text, .main_functions__proof__text, .main_functions__proof_location .main_functions__proof__text {
        font-size: 14px;
        max-width: 200px;
    }
}