.security_privacy {
    margin: 0 50px 90px;
}

.security_privacy .title-2 {
    margin: 24px 0;
}

.security_privacy__text {
    width: 495px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.security_privacy__text:last-child{
    margin-top: 25px;
}

@media(max-width: 768px) {

    .security_privacy {
        text-align: center;
        margin: 0 20px;
    }

    .security_privacy .title-2 {
        width: 225px;
        margin: 21px auto 24px;
    }

    .security_privacy__text {
        width: 360px;
        margin: 0 auto;
        font-size: 12px;
    }

    .security_privacy__text:last-child{
        margin-top: 10px;
    }

}