.useful_links {
    margin-bottom: 131px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.useful_links__block {
    border-radius: 12px;
    padding: 48px;
    width: 592px;
    transition: all 0.4s ease;
}

.useful_links__block:hover {
    box-shadow:inset -5px -5px 5px 0 rgba(0,0,0,.5), 
             inset 5px 5px 5px 0 rgba(255,255,255,0.5);
    text-decoration: none;
}

.useful_links__img {
    margin-bottom: 24px;
}

.useful_links__title {
    margin-bottom: 27px;
    font-family: "Inter-SemiBold", sans-serif; 
    line-height: 150%;
}

.useful_links__text {
    width: 496px;
    font-family: "Inter-Regular", sans-serif; 
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.useful_links__text span {
    font-family: "Inter-Bold", sans-serif;
    color: #fff;
}

.useful_links__twitter {
    background: url('../img/main/useful_links/bg__twitter.png') center center no-repeat  ;
    background-size: cover;
}

.useful_links__discord {
    background: url('../img/main/useful_links/bg_discord.png') center center no-repeat  ;
    background-size: cover;
}

.none {
    display: none;
}


@media(max-width: 430px) {

    .useful_links {
        margin: 168px 0 80px;
        flex-direction: column;
    }

    .useful_links__block{
        width: 390px;
        padding: 48px 30px 37px 48px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .useful_links__img {
        width: 37px;
    }

    .useful_links__title {
        margin-bottom: 10px;
    }

    .useful_links__text {
        width: auto;
    }
}